﻿@model PaginationBase
@{
    var fullModel = (PaginationActivitiesDataEntry< ActivityViewModel>)Model;

    var urlTemplate = Url.Action() + "?page={0}";
    var request = ViewContext.HttpContext.Request;

    // what is this for?
    foreach (var key in request.Query.Keys)
    {
        if (key == "page" || key == "search" || key == "categories" || key == "eventProviderOrganisationFilter" || key == "dataProviderOrganisationFilter" || key == "statusFilter" || key == "activityTypeFilter")
        {
            continue;
        }
        else
        {
            urlTemplate += "&" + key + "=" + request.Query[key];
        }

    }

    // convert model into query string for paging buttons
    if (fullModel.EventProviderOrganisationFilter != Guid.Empty)
    {
        urlTemplate += "&eventProviderOrganisationFilter=" + fullModel.EventProviderOrganisationFilter;
    }

    if (fullModel.DataProviderOrganisationFilter != Guid.Empty)
    {
        urlTemplate += "&dataProviderOrganisationFilter=" + fullModel.DataProviderOrganisationFilter;
    }

    if (fullModel.StatusFilter.HasValue)
    {
        urlTemplate += "&statusFilter=" + fullModel.StatusFilter;
    }

    if (fullModel.ActivityTypeFilter != Guid.Empty)
    {
        urlTemplate += "&activityTypeFilter=" + fullModel.ActivityTypeFilter;
    }

    if (!string.IsNullOrEmpty(Model.Search)){
        urlTemplate += "&search=" + Model.Search;
    }

    var startIndex = Math.Max(Model.CurrentPage - 5, 1);
    var finishIndex = Math.Min(Model.CurrentPage + 5, Model.PageCount);
}

<div class="row">
    <div class="col-md-4 pagination-info">
        Records @Model.FirstRow - @Model.LastRow of @Model.RowCount
    </div>
    <div class="col-md-8">           
            @if (Model.PageCount > 1)
            {
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-end">
                        @if (1 != Model.CurrentPage && finishIndex > 1)
                        {
                            <li class="page-item">
                                <a href="@urlTemplate.Replace("{0}", "1")" class="page-link">&laquo;</a>
                            </li>
                        }
                        @for (var i = startIndex; i <= finishIndex; i++)
                        {
                            if (i == Model.CurrentPage)
                            {
                                <li class="page-item"><a class="page-link">@i</a></li>
                            }
                            else
                            {

                                <li class="page-item"><a href="@urlTemplate.Replace("{0}", i.ToString())" class="page-link">@i</a></li>
                            }
                        }
                        <li class="page-item">
                            <a href="@urlTemplate.Replace("{0}", Model.PageCount.ToString())" class="page-link">&raquo;</a>
                        </li>
                    </ul>
                </nav>
            }

        </div>
    </div>

