﻿@model Wellbeing.Data.Repository.Models.Organisation

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Organisation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contact)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contact)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Funding)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Funding)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Noteworthy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Noteworthy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Generic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Generic)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Religious)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Religious)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
