﻿@using Wellbeing.Data.Service.Models
@model Wellbeing.Data.Service.Models.WellbeingUser

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit User</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" readonly disabled />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <select asp-for="RoleId" class="form-control" asp-items="ViewBag.Roles"></select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserCompany" class="control-label"></label>               
                <select asp-for="UserCompanyId" class="form-control" asp-items="ViewBag.Organisation"></select>
                <span asp-validation-for="UserCompanyId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" class="form-control" value="" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="NotifyOnActivityUpdate" class="control-label"></label>
                    <div class="checkbox">
                        <label><input asp-for="NotifyOnActivityUpdate" class="check-box" data-val="true" type="checkbox" value="true">
                        </label>
                        <input name="IsUrgent" type="hidden" value="false">&nbsp;
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
