﻿@model IEnumerable<Wellbeing.Data.Service.Models.WellbeingUser>

@{
    ViewData["Title"] = "Users";
}

<div class="row">
    <div class="col-md-11">
        <h2>Users</h2>
    </div>
    <div class="col-md-1">
        <a asp-action="Create" class="btn btn-secondary btn-sm">Create New</a>
    </div>
</div>
<div class="table-responsive-sm">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateCreated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Role)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserCompany)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoleDescription)
                    </td>
                    <td>
                        <a asp-controller="Activities" asp-action="Index" asp-route-dataProviderOrganisationFilter="@item.UserCompanyId">
                            @Html.DisplayFor(modelItem => item.UserCompany.Name)
                        </a>
</td>
                    <td>
                        <div class="btn-group dropleft">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownMenu2">
                                Options
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <!-- Dropdown menu links -->
                                <a asp-action="Edit" asp-route-id="@item.Id" class="dropdown-item">Edit</a>
                                <a asp-action="Details" asp-route-id="@item.Id" class="dropdown-item">Details</a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="dropdown-item">Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>