﻿@model Wellbeing.Test.Client.Models.Activities

@{
    ViewData["Title"] = "Create";
    var selectList = new SelectList(ViewBag.ActivityTypes, "Id", "Description");
}


<h3>Add Activities/Services</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTimeDescription" class="control-label"></label>
                <input asp-for="DateTimeDescription" class="form-control" />
                <span asp-validation-for="DateTimeDescription" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <label asp-for="LocationDescription" class="control-label"></label>
                <input asp-for="LocationDescription" class="form-control" />
                <span asp-validation-for="LocationDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact" class="control-label"></label>
                <input asp-for="Contact" class="form-control" />
                <span asp-validation-for="Contact" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LocationPostcode" class="control-label"></label>
                <input asp-for="LocationPostcode" class="form-control" />
                <span asp-validation-for="LocationPostcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrganisationId" class="control-label"></label>
                <select asp-for="OrganisationId" class ="form-control" asp-items="ViewBag.Organisation"></select>
                <button title="">Add New</button>
            </div>
            <div class="form-group">
                <h3>Activity Types </h3>
                <label>Add new Activity Type</label>
                @Html.DropDownList("ActivityTypes",  selectList, "Select activity type", new { @class = "form-control" })
            </div>
            <div class="form-group">                
                <label>Existing Activity Type</label>
                <ul>
                    <li>Practical help / Meals on Wheels</li>
                    <li>Connections / Meetups</li>
                </ul> 
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
