﻿@model Wellbeing.Test.Client.Models.Activities

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Activities</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateDeleted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateDeleted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateTimeDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateTimeDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LocationDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocationDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LocationPostcode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocationPostcode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Organisation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Organisation.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
