﻿body {
    background-color: #f1f1f1;
    color: #231f20;
    -webkit-font-smoothing: antialiased;
}

.container-fluid {
    background-color: #fff;
}

.nav-wrap{
    position:absolute;

}
.site-header {
    background-color: #fff;
    position: relative;
    width: 100%;
    padding: 27px 0 0px;
    max-width: 1980px;
    margin-top:0px;
    z-index: 999;
   
}
.title-area {
    padding: 10px 0 20px 50px;
    width: 311px;
    position: relative;
    z-index: 99;
}
.title-area a img {
    max-height:80px;
}
/*body {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}*/

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.fill {
    min-height: 100%;
    height: 100vh;
}
.footer {
    background-color: #2f1945;
}
.navbar {
    margin-bottom: 0.3em;
    /*background-color: #f36b22;*/
}
.navbar-brand {
    height: 80px;
    display: block;
}

 .navbar-brand img {
     height: 70px;
 }

.nav-link {
    text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-link {
    color: #4e3b61;
}
.nav-link:hover {
    background: #4e3b61;
}
.btn-secondary.dropdown-toggle {
    color: #fff;
    background: #4e3b61;
}
.btn-secondary {
    color: #fff;
    background: #4e3b61;
    border-color: #6c757d;
}

/*
#navbarText{
    color: #fff;
}
.nav-link, .navbar-brand {
    color: #ffffff !important;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

 

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler {
    background: #fff !important;
}*/
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 25px;
    line-height: 20px;
    background-color: #f5f5f5;
    font-size: 12px;
}

 .tree-1, .tree-2 {
    margin-left: 0px;
}

 .tree-3, .tree-4, .tree-5, .tree-6 {
    padding-left: 10px;
}

    .tree-3 {
    margin-left: 20px;
    border-left: 1px dotted #808080;
}

.tree-4 {
    margin-left: 30px;
    border-left: 1px dotted #e66204;
}

.tree-5 {
    margin-left: 40px;
    border-left: 1px dotted  #00ff90;
}

.tree-6 {
    margin-left: 50px;
    border-left: 1px dotted #0094ff;
}


ul.tree, ul.tree ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.tree ul {
    margin-left: 10px;
}

/*ul.tree li {
   margin: 0;
   padding: 0 7px;
   line-height: 20px;
   color: #369;
   border-left: 1px solid rgb(100,100,100);
}*/

.tree{
    border-left: 2px dotted #2f1945;
}
.link-container {
  display: inline-block;
}

    /*.item-0::after {
        left: 0;
        content: '·';
        text-align: right;
        color: #2f1945;
        
    }*/

.item-1, .item-2, .item-3, .item-4, .item-5, .item-6 {
    border-bottom: 2px dotted #2f1945;
    border-left: 2px dotted #2f1945;
    display: inline-block;
    height: 20px;
}

.item-0 {
    width: 5px;
    margin-left: 5px;
}

.item-1 {
    width: 10px;
    border-left: 0px !important;
}
.item-2 {
    width: 20px;
    margin-left: 35px;
}
.item-3 {
    width: 30px;
    margin-left: 45px;
}
.item-4 {
    width: 40px;
    margin-left: 55px;
}
tr.status-approved {
    background-color: #dcefdc;
}
tr.status-draft {
    background-color: #f1f1f1;
}
tr.activity-header {
    background-color: #f1f1f1;
}

div.activityList {
    margin-top: 20px;
}

.activitySearchForm  {
    padding-left: 10px;
}
.activitySearchForm select {
    width: 400px;
}
.activityResultsFound label {
    padding-left: 10px;
    padding-top: 10px;
    font-weight: bold;
}
div.feedback-details {
	margin-left: 15px;
}
.activitySearchForm input.search-box {
    width: 400px;
}

.pager-bottom {
    padding-bottom: 20px;
}   
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

@media screen and (min-width: 767px) {
    .login {
        margin-top: 3em;
    }
}
