﻿<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130422551-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-130422551-1');
    </script>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="icon" href="~/public/images/favicon.ico">
    <title>@ViewData["Title"]</title>
    <environment include="Development">
        @*<link rel="stylesheet" href="~/lib/bootstrap-4.0.0-dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />*@
        <!-- Bootstrap core CSS -->
        <link href="~/public/assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="~/public/assets/css/bootstrap-grid.min.css" rel="stylesheet">
        <link href="~/public/assets/css/styles.css" rel="stylesheet">
        <link href="~/public/assets/css/font-awesome.min.css" rel="stylesheet">
        <link href="~/public/assets/css/ionicons.min.css" rel="stylesheet">
        <link href="~/public/assets/css/dropdown-tree.css" rel="stylesheet">
        <link href="~/lib/ionicons/css/ionicons.min.css"  rel="stylesheet"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/public/assets/css/bootstrap.min.css" asp-append-version="true"/>
        <link rel="stylesheet" href="~/public/assets/css/bootstrap-grid.min.css" asp-append-version="true"/>
        <link rel="stylesheet" href="~/public/assets/css/styles.css" asp-append-version="true"/>
        <link rel="stylesheet" href="~/public/assets/css/font-awesome.min.css" asp-append-version="true"/>
        <link rel="stylesheet" href="~/public/assets/css/ionicons.min.css" asp-append-version="true"/>
        <link rel="stylesheet" href="~/public/assets/css/dropdown-tree.css" asp-append-version="true"/>
        <link rel="stylesheet" href="~/lib/ionicons/css/ionicons.min.css"  asp-append-version="true"/>
    </environment>
    @RenderSection("Styles", false)

</head>
<body>
    <header class="site-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-5 col-6">
                    <div class="img-header">
                        <a asp-action="Search" asp-controller="home"><img src="~/public/images/logo.png" class="img-fluid"></a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-4">
                    <div class="text-widget">
                        <ul>
                            <li><span>Tel:</span> <a class="phone-icon" href="tel:01962 854226">01962 827795</a></li>
                            <li><span>Email:</span> <a class="email-icon" href="mailto:handinhand@stjohnswinchester.co.uk">handinhand@stjohnswinchester.co.uk</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-2">
                    <div class="extra-toplinks">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a asp-controller="Home" asp-action="DataEntryPage">Data Entry Site</a>
                            if (!User.IsInRole("SuperAdmin"))
                            {
                                <text>&nbsp;</text><a asp-controller="Feedbacks" asp-action="Create">Contact Us</a>
                            }
                        }
                        else
                        {
                            <a asp-controller="Account" asp-action="Login">Login</a>
                            <text>&nbsp;</text><a asp-controller="Feedbacks" asp-action="Create">Contact Us</a>
                            <text>&nbsp;</text><a href="/" class="report-link" data-report-url="@Url.Action("Print", "Reports")">Wellbeing Report<text>&nbsp;</text><span class="badge badge-dark report-badge"></span></a>
                        }
                    </div>
                    <div class="hd-img-icon">
                        <a href="" class="desktop-img">
                            <img class="" src="~/public/images/hand-btn.jpg">
                        </a>
                        <a href="" class="mobile-img">
                            <img class="" src="~/public/images/mobile-hand-btn.jpg">
                        </a>
                    </div>


                </div>
               

            </div>
        </div>
    </header>
    <div class="sub-header">
    </div>
   


    <main role="main">
        @RenderBody()
    </main>


        <footer class="footer">
            <div class="container">
                <div class="text-white text-center">&copy; 2018 All Right Reserved</div>
                <div class="text-white text-center">The information contained in this website is for general information purposes only. The information is provided by St John’s Winchester (SJW) / St John’s Hand in Hand and other third party service providers. SJW makes every effort to ensure that the information on this website is accurate and up-to-date. However, we cannot accept responsibility for any loss or inconvenience caused by reliance on inaccurate material contained in this site. Links to other sites/third parties are provided for your convenience and do not imply SJW’s endorsement of them. We advise individuals to carry out their own research and checks on organisations/third party service providers. We also cannot be responsible for information contained on other sites. SJW are under no liability whatsoever to users of the site and its services or any third party, for any defect in, failure of, unsuitability, inaccuracy or unfitness for any purpose of this website, or the services featured, or third party equipment/software used to access the website or for infringement of rights or any other cause.</div>
            </div>
        </footer>

        <environment include="Development">
            <!-- Bootstrap core JavaScript   ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
            
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap-4.0.0-dist/js/bootstrap.js"></script>
            <script src="~/lib/bootstrap-4.0.0-dist/js/bootstrap.js"></script>
            <script src="~/lib/js-signals/js-signals.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
            <script src="~/public/assets/js/popper.min.js"></script>
            <script src="~/public/assets/js/dropdown/dropdowntree.js"></script>
            <script src="~/public/assets/js/main.js"></script>
        </environment>
        <environment exclude="Development">
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossOrigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossOrigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossOrigin="anonymous"></script>
            <script src="~/public/assets/js/dropdown/dropdowntree.js" asp-append-version="true"></script>
            <script src="~/public/assets/js/js-signals.min.js" asp-append-version="true"></script>
            <script src="~/public/assets/js/main.js" asp-append-version="true"></script>
        </environment>

        @RenderSection("Scripts", required: false)
</body>
</html>
