﻿<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130422551-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-130422551-1');
    </script>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="icon" href="~/public/images/favicon.ico">
    <title>@ViewData["Title"]</title>
    <environment include="Development">
        @*<link rel="stylesheet" href="~/lib/bootstrap-4.0.0-dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />*@
        <!-- Bootstrap core CSS -->
        <link href="~/public/assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="~/public/assets/css/bootstrap-grid.min.css" rel="stylesheet">
        <link href="~/public/assets/css/styles.css" rel="stylesheet">
        <link href="~/public/assets/css/font-awesome.min.css" rel="stylesheet">
        <link href="~/public/assets/css/ionicons.min.css" rel="stylesheet">
        <link href="~/public/assets/css/dropdown-tree.css" rel="stylesheet">
        <link href="~/lib/ionicons/css/ionicons.min.css"  rel="stylesheet"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/public/assets/css/bootstrap.min.css" asp-append-version="true"/>
        <link rel="stylesheet" href="~/public/assets/css/bootstrap-grid.min.css" asp-append-version="true"/>
        <link rel="stylesheet" href="~/public/assets/css/styles.css" asp-append-version="true"/>
        <link rel="stylesheet" href="~/public/assets/css/font-awesome.min.css" asp-append-version="true"/>
        <link rel="stylesheet" href="~/public/assets/css/ionicons.min.css" asp-append-version="true"/>
        <link rel="stylesheet" href="~/public/assets/css/dropdown-tree.css" asp-append-version="true"/>
        <link rel="stylesheet" href="~/lib/ionicons/css/ionicons.min.css"  asp-append-version="true"/>
    </environment>
    @RenderSection("Styles", false)

</head>
<body>

    <main role="main">
        @RenderBody()
    </main>



        <environment include="Development">
            <!-- Bootstrap core JavaScript   ================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
            
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap-4.0.0-dist/js/bootstrap.js"></script>
            <script src="~/lib/bootstrap-4.0.0-dist/js/bootstrap.js"></script>
            <script src="~/lib/js-signals/js-signals.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
            <script src="~/public/assets/js/popper.min.js"></script>
            <script src="~/public/assets/js/dropdown/dropdowntree.js"></script>
            <script src="~/public/assets/js/main.js"></script>
        </environment>
        <environment exclude="Development">
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossOrigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossOrigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossOrigin="anonymous"></script>
            <script src="~/public/assets/js/dropdown/dropdowntree.js" asp-append-version="true"></script>
            <script src="~/public/assets/js/js-signals.min.js" asp-append-version="true"></script>
            <script src="~/public/assets/js/main.js" asp-append-version="true"></script>
        </environment>

        @RenderSection("Scripts", required: false)
</body>
</html>
