﻿@model PaginationBase
@{
    var urlTemplate = Url.Action() + "?page={0}";
    var request = ViewContext.HttpContext.Request;
    foreach (var key in request.Query.Keys)
    {
        if (key == "page" || key == "search" || key == "categories")
        {
            continue;
        }

        urlTemplate += "&" + key + "=" + request.Query[key];
    }

    if (!string.IsNullOrEmpty(Model.Search)){
        urlTemplate += "&search=" + Model.Search;
    }

    if (Model.Categories!=null && Model.Categories.Count()>0){
        urlTemplate += "&categories=" + string.Join(",",Model.Categories);
    }

    var startIndex = Math.Max(Model.CurrentPage - 5, 1);
    var finishIndex = Math.Min(Model.CurrentPage + 5, Model.PageCount);
}

<div class="row">
    <div class="col-md-4 pagination-info">
        Records @Model.FirstRow - @Model.LastRow of @Model.RowCount
    </div>
    <div class="col-md-8">           
            @if (Model.PageCount > 1)
            {
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-end">
                        @if (1 != Model.CurrentPage && finishIndex > 1)
                        {
                            <li class="page-item">
                                <a href="@urlTemplate.Replace("{0}", "1")" class="page-link">&laquo;</a>
                            </li>
                        }
                        @for (var i = startIndex; i <= finishIndex; i++)
                        {
                            @if (i == Model.CurrentPage)
                            {
                                <li class="page-item"><a class="page-link">@i</a></li>
                            }
                            else
                            {

                                <li class="page-item"><a href="@urlTemplate.Replace("{0}", i.ToString())" class="page-link">@i</a></li>
                            }
                        }
                        <li class="page-item">
                            <a href="@urlTemplate.Replace("{0}", Model.PageCount.ToString())" class="page-link">&raquo;</a>
                        </li>
                    </ul>
                </nav>
            }

        </div>
    </div>

