@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);

/*body {
    margin: 0;
    font-family: 'Roboto';
    font-size: 15px;
    line-height: 1.5;
    color: #212529;
    font-style: normal;
    font-weight: 200;
    text-align: left;
    background-color: #fff;
}*/

body {
    background-color: white;
    color: #231f20;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
.banner-details{
    background: url(../../images/almshouses-1.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    min-height: 250px;
    position: relative;
    /* background-attachment: fixed; */
    background-position: top;
}
.centerDiv-details{
    position: absolute;
    top: 59%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #2f1945;
    border-radius: 0px;
    width: 35%;
    padding: 4em 3em 2em 3em;
    /* height: 100%; */
    box-shadow: 0 0.3rem 1rem rgba(0,0,0,.15)!important;
}
.search-treatment-details{
    background-color: #f7f7f7;
    padding: 2em 0 2em 0;
    /*font-family: 'Frutiger LT Std 45 Light';*/
    font-family: arial;
    color: #2f1945;
}
.filter-mobile-banner{
    display: none;
}

#map-canvas {
    width: 50pc;
    height: 25pc;
}

.st-detail-left {
    background: #d61c59;
    padding: 2em;
    height: 100%;
}
    .st-detail-left h5 {
        font-size: 18px;
        color: wheat !important;
        font-weight: bold;
    }
.st-detail-left ul{
    margin-top: 1.5em;
    list-style: none;
    padding-left: 0px;
}
.st-detail-left ul li{
    font-size: 13px;
    margin-bottom: 10px;
    font-weight: 400;
    color: white;
}
.st-detail-left ul li span{
    font-size: 13px;
    font-weight: 400;
    margin-left: 10px;
}
.st-detail-right{
    padding: 2em;
    background: wheat;
    height: 100%;
}
    .st-detail-right h5 {
        font-size: 18px;
        color: #3e2e2e;
        font-weight: 600;
    }
.border-bottom-row{
    border-bottom: 1px solid grey;

}
.st-detail-right h5 a{
    font-size: 18px;
    color: #d61c59;
    font-weight: 600;
}
.details-content{
    padding: .5em 0 1em 0;
}
.details-content h5{
    font-size: 20px;
    color: #d61c59;
    font-weight: 600;
    padding: 10px 0 10px 0;
}
.checkbox {
    /*margin: 50px auto;*/
    position: relative;
    display: block;
    /*width: 100px;*/
}

input[type="checkbox"] {
    width: auto;
    opacity: 0.00000001;
    position: absolute;
    left: 0;
    margin-left: -20px;
}
.helper {
    position: absolute;
    top: 0px;
    left: -4px;
    cursor: pointer;
    display: block;
    font-size: 16px;
    user-select: none;
    color: #e7e7e7;
}
.helper:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 18px;
    height: 18px;
    transition: transform 0.28s ease;
    border-radius: 3px;
    border: 1px solid #fff;
}
.helper:after {
    content: '';
    display: block;
    width: 10px;
    height: 5px;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    -webkit-transform: rotate(-45deg) scale(0);
    -moz-transform: rotate(-45deg) scale(0);
    -ms-transform: rotate(-45deg) scale(0);
    transform: rotate(-45deg) scale(0);
    position: absolute;
    top: 9px;
    left: 9px;
}
input[type="checkbox"]:checked ~ .helper::before {
    color: #fff;
    background-color: #1DBE72;
    border: 1px solid #1DBE72;

}

input[type="checkbox"]:checked ~ .helper::after {
    -webkit-transform: rotate(-45deg) scale(1);
    -moz-transform: rotate(-45deg) scale(1);
    -ms-transform: rotate(-45deg) scale(1);
    transform: rotate(-45deg) scale(1);
}

.checkbox label {
    min-height: 20px;
    padding-left: 35px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
    vertical-align: sub;
}

input[type="checkbox"]:focus + label::before {
    outline: rgb(59, 153, 252) auto 5px;
}
.search-details-box-no-result{
    margin-top: 2.5em;
    border: 1px solid #F4F4F4;
    height: 270px;
    background: white;

}
.search-details-box-no-result h6{
    margin-top: 14%;
    color: #D5D5D5;
    font-size: 13px;
    font-weight: 300;
}
.sub-header h5 a{
    color: white;
    padding-right: 10px;
}
.red-tree-1, .red-tree-2 {
    color: #ffffff;
    margin-left: 0px;
    font-size: 18px;
}

.red-tree-2 {
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 2px;
    font-size: 17px;
}

.red-tree-3 {
    color: #cabebe;
    font-weight: bold;
    margin-bottom: 2px;
    font-size: 16px;
}

.red-tree-4 {
    color: #9299a0;
    font-weight: normal;
}

.red-tree-3, .red-tree-4, .red-tree-5, .red-tree-6 {
    padding-left: 10px;
}

.red-tree-3 {
    margin-left: 20px;
    border-left: 1px dotted #808080;
}

.red-tree-4 {
    margin-left: 30px;
    border-left: 1px dotted #e66204;
}

.red-tree-5 {
    margin-left: 40px;
    border-left: 1px dotted #00ff90;
}

.red-tree-6 {
    margin-left: 50px;
    border-left: 1px dotted #0094ff;
}


ul.tree, ul.tree ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.tree ul {
    margin-left: 10px;
}

@media screen and (min-device-width: 320px) and  (max-device-width: 768px) and (orientation: portrait) {
    .st-detail-left{
        background: #d61c59;
        padding: 2em 1em 2em 1em;
        height: 100%;
    }
    .no-mobile{
        display: none;
    }
    .search-treatment-details .container {
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
        margin-right: auto;
        margin-left: auto;
    }
    .filter-mobile-banner{
        background-color: #d61c59;
        padding: 1em;
        display: block;


    }
    .filter-mobile-banner h5{
        font-size: 18px;
        color: #fff !important;
        /*font-weight: bold;*/
        display: block;

    }
}

@media screen and (min-device-width: 320px) and  (max-device-width: 768px) and (orientation: landscape) {
    .filter-mobile-banner{
        background-color: #d61c59;
        padding: 1em;
        display: block;

    }
    .filter-mobile-banner h5{
        font-size: 18px;
        color: #fff !important;
        /*font-weight: bold;*/
        display: block;
    }
    .no-mobile{
        display: none;
    }
}
.drop-button .btn {
    display: inline-block;
    font-weight: 400;
    text-align: center !important;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-bottom: 1px solid #ced4da;
    padding: 0.375rem 1.5rem !important;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

a.add-report {
	cursor: pointer
}

a.add-report i.ion-md-cart {
	font-size: 32px;
	color: black;
}