
.dropdown-tree > ul{overflow-y: auto;overflow-x: hidden;white-space: nowrap;}
.dropdown-tree li{list-style: none}
.dropdown-tree li > i {margin-left: 10px;}
.dropdown-tree li:hover{ background: #eee;}
.dropdown-tree li:hover ul { background: white; }
.dropdown-tree li:hover ul li:hover { background: #eee; }
.dropdown-tree a{display: inline-block !important;padding: 3px 20px;clear: both;font-weight: 400;line-height: 1.42857143;color: #333;white-space: nowrap;text-decoration: none;background:transparent !important; position: relative;}
.dropdown-tree .arrow{position: absolute;margin-left: -15px;top: 50%; transform: translateY(-50%);}
/*RTL CSS*/
.rtl-dropdown-tree{direction: rtl !important}
.rtl-dropdown-tree > ul{right: 0 ; left: unset; text-align: right}
.rtl-dropdown-tree .arrow{right: 6px}
.rtl-dropdown-tree li > i {margin-left: 0;margin-right: 10px;}

.dropdown {

}
.drop-button .btn {
    display: inline-block;
    font-weight: 400;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-bottom: 1px solid #ced4da;
    padding: 0.375rem 2rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.dropdown dd,
.dropdown dt {
    margin: 0px;
    padding: 0px;
}

.dropdown ul {
    margin: -1px 0 0 0;
    width: 100%;
}

.dropdown dd {
    position: relative;
}

.dropdown a,
.dropdown a:visited {
    color: #000;
    text-decoration: none;
    outline: none;
    font-size: 12px;
}

.dropdown dt a {
    background-color: #4F6877;
    display: block;
    padding: 8px 20px 5px 10px;
    min-height: 25px;
    line-height: 24px;
    overflow: hidden;
    border: 0;
    width: 272px;
}

.dropdown dt a span,
.multiSel span {
    cursor: pointer;
    display: inline-block;
    padding: 0 3px 2px 0;
}

.dropdown dd ul {
    background-color: #4F6877;
    border: 0;
    color: #fff;
    display: none;
    left: 0px;
    padding: 2px 15px 2px 5px;
    position: absolute;
    top: 2px;
    width: 280px;
    list-style: none;
    height: 100px;
    overflow: auto;
}

.dropdown span.value {
    display: none;
}

.dropdown dd ul li a {
    padding: 5px;
    display: block;
}

.dropdown dd ul li a:hover {
    background-color: #fff;
}

button {
    background-color: transparent;
    width: 100%;
    border: 0;
    padding: 10px 0;
    /*margin: 5px 0;*/
    text-align: left;
    color: #fff;
    font-weight: bold;
}