﻿@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);

/*body {
    margin: 0;
    font-family: 'Roboto';
    font-size: 15px;
    line-height: 1.5;
    color: #212529;
    font-style: normal;
    font-weight: 200;
    text-align: left;
    background-color: #fff;
}*/

body {
	background-color: white;
	color: #231f20;
	font-family: 'Roboto';
	font-size: 18px;
	font-weight: 400;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

.banner-details {
	background: url(../../images/almshouses-1.jpg) no-repeat 0px 0px;
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	-moz-background-size: cover;
	min-height: 250px;
	position: relative;
	/* background-attachment: fixed; */
	background-position: top;
}

a.btn-print-icon {
    background-color: #5A4181;
}

.centerDiv-details {
	position: absolute;
	top: 59%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: #2f1945;
	border-radius: 0px;
	width: 35%;
	padding: 4em 3em 2em 3em;
	/* height: 100%; */
	box-shadow: 0 0.3rem 1rem rgba(0,0,0,.15) !important;
}

.search-treatment-details {
	background-color: #f7f7f7;
	padding: 2em 0 2em 0;
	/*font-family: 'Frutiger LT Std 45 Light';*/
	font-family: arial;
	color: #2f1945;
}

.filter-mobile-banner {
	display: none;
}

.map-canvas {
	width: 50pc;
	height: 25pc;
}

.st-detail-left {
	background: #d61c59;
	padding: 2em;
	height: 100%;
}

	.st-detail-left h5 {
		font-size: 18px;
		color: wheat !important;
		font-weight: bold;
	}

	.st-detail-left ul {
		margin-top: 1.5em;
		list-style: none;
		padding-left: 0px;
	}

		.st-detail-left ul li {
			font-size: 13px;
			margin-bottom: 10px;
			font-weight: 400;
			color: white;
		}

			.st-detail-left ul li span {
				font-size: 13px;
				font-weight: 400;
				margin-left: 10px;
			}

.st-detail-right {
	padding: 2em;
	background: wheat;
	height: 100%;
}

	.st-detail-right h5 {
		font-size: 18px;
		color: #3e2e2e;
		font-weight: 600;
	}

.border-bottom-row {
	border-bottom: 1px solid grey;
}

.st-detail-right h5 a {
	font-size: 18px;
	color: #d61c59;
	font-weight: 600;
}

.details-content {
	padding: .5em 0 1em 0;
}

	.details-content h5 {
		font-size: 20px;
		color: #d61c59;
		font-weight: 600;
		padding: 10px 0 10px 0;
	}

.checkbox {
	/*margin: 50px auto;*/
	position: relative;
	display: block;
	/*width: 100px;*/
}

input[type="checkbox"] {
	width: auto;
	opacity: 0.00000001;
	position: absolute;
	left: 0;
	margin-left: -20px;
}


.search-details-box-no-result {
	margin-top: 2.5em;
	border: 1px solid #F4F4F4;
	height: 270px;
	background: white;
}

.search-details-box-no-result h6 {
	margin-top: 14%;
	color: #D5D5D5;
	font-size: 13px;
	font-weight: 300;
}

.sub-header h5 a {
	color: white;
	padding-right: 10px;
}


@media screen and (min-device-width: 320px) and (max-device-width: 768px) and (orientation: portrait) {
	.st-detail-left {
		background: #d61c59;
		padding: 2em 1em 2em 1em;
		height: 100%;
	}

	.no-mobile {
		display: none;
	}

	.search-treatment-details .container {
		width: 100%;
		padding-right: 0px;
		padding-left: 0px;
		margin-right: auto;
		margin-left: auto;
	}

	.filter-mobile-banner {
		background-color: #d61c59;
		padding: 1em;
		display: block;
	}

		.filter-mobile-banner h5 {
			font-size: 18px;
			color: #fff !important;
			/*font-weight: bold;*/
			display: block;
		}
}



@media screen and (min-device-width: 320px) and (max-device-width: 768px) and (orientation: landscape) {
	.filter-mobile-banner {
		background-color: #d61c59;
		padding: 1em;
		display: block;
	}

		.filter-mobile-banner h5 {
			font-size: 18px;
			color: #fff !important;
			/*font-weight: bold;*/
			display: block;
		}

	.no-mobile {
		display: none;
	}
}

.drop-button .btn {
	display: inline-block;
	font-weight: 400;
	text-align: center !important;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border-bottom: 1px solid #ced4da;
	padding: 0.375rem 1.5rem !important;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

a.remove-from-report {
	cursor: pointer
}

a.remove-from-report i.ion-md-close-circle {
	font-size: 32px;
	color: black;
}


@media print {
    @page {
        margin: 0;
    }

    body { margin: 1.6cm; }
	.pagebreak {
		clear: both;
		page-break-after: always;
	}
	a.remove-from-report {
		display: none;
	}
   
}
 