@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);

body {
    background-color: white;
    color: #231f20;
    /*font-family:'Roboto';*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
.navbar {
    margin-bottom: 20px;
}

.site-header{
    background-color: white;
    padding: 10px 10px 10px 10px;

}
.text-widget{
    padding-top: 1.5em;
}
.text-widget ul{
    list-style: none;
}
    .text-widget ul li, .extra-toplinks a {
        text-align: left;
        color: #4e3b61;
        font-size: 14px;
        font-family: 'Roboto';
        font-weight: bold;
    }
        .text-widget ul li a, .extra-toplinks a{
            color: #4e3b61;
        }
.hd-img-icon{
    padding-top: 0.4em;
}
.img-header{
    padding-left: 4em;
}
.sub-header{
    background-color: #f36b22;
    padding: 10px;
}
.banner {
    background: url(../../images/banner-image.png) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    min-height: 182px;
    background-position: top;
}

.centerDiv{
    background: #2f1945;
    border-radius: 0px;
    padding: 3em 2em 2em 2em;
    box-shadow: 0 0.3rem 1rem rgba(0,0,0,.15)!important;
}
.centerDiv .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 1.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: white;
    background-color: transparent;
    background-clip: padding-box;
    border-radius: 0;
    border-top-color: transparent;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: transparent;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(206, 212, 218);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: transparent;
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.centerDiv select.form-control:not([size]):not([multiple]) {
    height: calc(2.75rem + 2px);
    font-size: 16px;
}
.centerDiv ::placeholder {
    color: #9f95a9;
    opacity: 1; /* Firefox */
    font-size: 16px !important;
}

    .centerDiv h5{     
        color: #fff;
        text-align:center;
        text-transform: capitalize;
    }

    .centerDiv :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #9f95a9;
        font-size: 16px !important;
    }

.centerDiv :-ms-input-placeholder { /* Microsoft Edge */
    color: #9f95a9;
    font-size: 16px !important;

}
.centerDiv .btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle {
    color: #212529;
    background-color: white;
    border-color: white;
}
/*Home Section 2*/
.home-section-2 {
    background: #ffdac0;
    font-family: 'Roboto';
    color: #2f1945;
    padding-top: 1em;
    padding-bottom: 2em;
}

.home-section-2 h3, .home-section-3 h3 {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 15px;
    color: #2f1945;
 }
.home-section-3 h3 {
    text-align: left;
    text-transform: uppercase;
}
.home-section-2 h3 {
    text-align: center;
}

.badge-primary {
    color: #fff;
    background-color: #2f1945;
}
.home-section-3{
    padding-top: 3em;
    display:block;
}
.home-section-3 .map-hd-banner{
    background-color: #f36b22;
    padding: 6px 5px 6px 15px;
    color: white;
    font-size: 17px;
    margin-bottom: 10px;
}
.well-card{
    margin-bottom: 10px;
}
.well-card p{
    margin-bottom: 0px;
    font-size: 16px;
}
.well-card a{
    font-size: 14px;
    border-radius: 25px;
    padding: 3px 20px 3px 20px;
    background-color: #4e3b61;
    border: 1px solid transparent;
}
.well-card .card-body h5{
    font-size: 18px;
}
.well-card .card-body span{
    font-size: 14px;
}
.bg-well-being{
    background-color: #d61c59 !important;
    border-radius: 0px;
}
.footer{
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
    height: 7pc;
    line-height: 15px;
    background-color: #2f1945;
    text-align: center;
    color: white;
}
.footer div{
    font-size: 13px;
}
/*Mobile*/
@media screen and (min-device-width: 320px) and  (max-device-width: 768px) and (orientation: portrait){
    .img-header{
        padding-left: 0;
    }

    .centerDiv {
        position: absolute;
        top: 61%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: #2f1945;
        border-radius: 0px;
        width: 85%;
        padding: 4em 3em 2em 3em;
        /* height: 100%; */
        box-shadow: 0 0.3rem 1rem rgba(0,0,0,.15)!important;
    }
    .text-widget ul {
        padding-left: 0;
    }
    .text-widget ul li {
        display: inline-block;
        vertical-align: middle;
    }
    .text-widget ul li span {
        display: none;
    }
    .text-widget .phone-icon, .text-widget .email-icon {
        display: inline-grid !important;
        overflow: hidden;
        width: 30px;
        height: 22px;
        color: transparent !important;
        position: relative;
        vertical-align: middle;
        padding: 0 8px;
        border: none;
        margin: 0 3px;
    }
    .text-widget .phone-icon:before {
        content: "\f095";
        font: normal normal normal 20px/15px FontAwesome;
        position: absolute;
        color: #4e3b61 !important;
        text-align: center;
        width: 100%;
        top: 0;
    }
    .text-widget .email-icon:before {
        content: "\f0e0";
        font: normal normal normal 20px/15px FontAwesome;
        position: absolute;
        text-align: center;
        color: #4e3b61 !important;
        width: 100%;
        top: 0;
    }
    .hd-img-icon .desktop-img{
        display: none;
    }
    .hd-img-icon .mobile-img{
        display: block;
    }
    .text-widget {
        padding-top: .6em;
    }
    .hd-img-icon {
        padding-top: .4em;
    }
    /*.banner {*/
        /*background: url(../../images/almshouses-1.jpg) no-repeat 0px 0px;*/
        /*background-size: cover;*/
        /*-webkit-background-size: cover;*/
        /*-o-background-size: cover;*/
        /*-ms-background-size: cover;*/
        /*-moz-background-size: cover;*/
        /*min-height: 420px;*/
        /*position: relative;*/
        /*!* background-attachment: fixed; *!*/
        /*background-position: top;*/
    /*}*/
}
@media screen and (min-device-width: 320px) and  (max-device-width: 768px) and (orientation: landscape){
    .img-header{
        padding-left: 0;
    }

    .centerDiv {
        position: absolute;
        top: 61%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: #2f1945;
        border-radius: 0px;
        width: 70%;
        padding: 4em 3em 2em 3em;
        /* height: 100%; */
        box-shadow: 0 0.3rem 1rem rgba(0,0,0,.15)!important;
    }
    .text-widget ul {
        padding-left: 0;
    }
    .text-widget ul li {
        display: inline-block;
        vertical-align: middle;
    }
    .text-widget ul li span {
        display: none;
    }
    .text-widget .phone-icon, .text-widget .email-icon {
        display: inline-grid !important;
        overflow: hidden;
        width: 50px;
        height: 40px;
        color: transparent !important;
        position: relative;
        vertical-align: middle;
        padding: 0 8px;
        border: none;
        margin: 0 3px;
    }
    .text-widget .phone-icon:before {
        content: "\f095";
        font: normal normal normal 35px/30px FontAwesome;
        position: absolute;
        color: #4e3b61 !important;
        text-align: center;
        width: 100%;
        top: 0
    }
    .text-widget .email-icon:before {
        content: "\f0e0";
        font: normal normal normal 35px/30px FontAwesome;
        position: absolute;
        text-align: center;
        color: #4e3b61 !important;
        width: 100%;
        top: 0;
    }
    .hd-img-icon .desktop-img{
        display: block;
    }
    .hd-img-icon .mobile-img{
        display: none;
    }
    .text-widget {
        padding-top: .8em;
    }
    .hd-img-icon {
        padding-top: .4em;
    }
    /*.banner {*/
        /*background: url(../../images/almshouses-1.jpg) no-repeat 0px 0px;*/
        /*background-size: cover;*/
        /*-webkit-background-size: cover;*/
        /*-o-background-size: cover;*/
        /*-ms-background-size: cover;*/
        /*-moz-background-size: cover;*/
        /*min-height: 420px;*/
        /*position: relative;*/
        /*!* background-attachment: fixed; *!*/
        /*background-position: top;*/
    /*}*/

}
.hd-img-icon .mobile-img{
    display: none;
}

.tree-1, .tree-2 {
    margin-left: 0px;
}

.tree-2 {
    color: #f36b22;
    font-weight: bold;
}

.tree-3 {
    color: #282b2d;
    font-weight: bold;
}

.tree-4 {
    color: #121213;
    font-weight: 500;
}

.tree-3, .tree-4, .tree-5, .tree-6 {
    padding-left: 10px;
}

.tree-3 {
    margin-left: 20px;
    border-left: 1px dotted #808080;
}

.tree-4 {
    margin-left: 30px;
    border-left: 1px dotted #e66204;
}

.tree-5 {
    margin-left: 40px;
    border-left: 1px dotted #00ff90;
}

.tree-6 {
    margin-left: 50px;
    border-left: 1px dotted #0094ff;
}


ul.tree, ul.tree ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

    ul.tree ul {
        margin-left: 10px;
    }

/*ul.tree li {
   margin: 0;
   padding: 0 7px;
   line-height: 20px;
   color: #369;
   border-left: 1px solid rgb(100,100,100);
}*/

.tree {
    border-left: 2px dotted #2f1945;
}

.home-section-3 .category-filter {
    background-color: wheat;
    padding: 2em;
}
.pagination-info{
    font-weight: normal;
    font-size: 16px;
}

/*
.page-link {
    //background-color: #542880;
    color: #542880;
}*/

.pagination > li > a {
    background-color: white;
    color: #5A4181;
    font-size: 14px;
}

    .pagination > li > a:focus,
    .pagination > li > a:hover,
    .pagination > li > span:focus,
    .pagination > li > span:hover {
        color: #5a5a5a;
        background-color: #eee;
        border-color: #ddd;
    }

.pagination > .active > a {
    color: white;
    background-color: #5A4181 !Important;
    border: solid 1px #5A4181 !Important;
}

    .pagination > .active > a:hover {
        background-color: #5A4181 !Important;
        border: solid 1px #5A4181;
    }

.extra-toplinks{
    width: 100%;
    text-align: center;
    margin: 0 0 0 0;
}
    .extra-toplinks a {
        text-decoration: underline;
        text-transform: uppercase;
        font-size: 12px;
    }

.filter-dropdown {
	color: #231f20;
}

.filter-dropdown:hover {
	text-decoration: none !important;
}

.search-panel {
	margin-bottom: 10px;
}