﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <img class="img-fluid" src="~/images/home-page-image.JPG" alt="home page image - group of older aged people engaged in group activities" />
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="mt-0">St John's Hand in Hand</h2>
                    <p class="lead text-muted">
                        We believe that everybody should lead their life with enjoyment, friendship, fulfillment and choice. Sometimes in later life these things can typically become a little more difficult to achieve. Our service is designed to help!
                    </p>
                    <p class="lead text-muted">
                        Our aim is to make a real difference by providing older people with new social opportunities, helping them to live rich, full and vibrant lives for as long as possible. This database has been created with the help of the local community to help us achieve this goal. Thank you for your support and welcome to our database!
                    </p>
                </div> 
            </div>            
        </div>

    </div>
</div>


















