﻿@using Wellbeing.Data.Service.Models
@using Wellbeing.Data.Client.Extensions
@model ActivityViewModel


@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="sub-header">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6 text-right">
                <h5><a asp-action="Search" asp-controller="Home">Back to home</a> </h5>
            </div>
        </div>
    </div>
</div>
<div class="filter-mobile-banner">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h5>Activity Categories:</h5>
            </div>
            <div class="col-12 drop-button">
                <div class="dropdown dropdown-tree" id="example">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="search-treatment-details">
    <div class="container">
        <div class="row">
            <div class="col-md-3 no-mobile col-12">
                <div class="st-detail-left">
                    <h5>Activity Categories:</h5>
                    @foreach (var activityType in Model.ActivityTypeList)
                    {
                        var IdParts = activityType.Id.Split("_");
                        var id = IdParts[IdParts.Length - 1];

                        @if (activityType.IsChecked || Model.ActivityTypeAndAncestors.Any(ati => ati.Id == Guid.Parse(id.ToString())))
                        {
                            @:<div class="red-tree-@IdParts.Count()">
                                @activityType.Display
                            @:</div>
                        }
                    }
                </div>
            </div>
            <div class="col-md-9 col-12 col-sm-12">
                <div class="st-detail-right">
                    <div class="row border-bottom-row">
                        <div class="col-md-6 col-12 text-md-left">
                            <h5>Date: <a href="">@Model.DateTimeDescription</a> </h5>
                        </div>
                        <div class="col-md-6 col-12 text-md-right">
                            <h5>Venue: <a href="">@Model.LocationPostcode</a> </h5>
                        </div>
                    </div>
                    <div class="details-content">
                        <div class="row">
                            <div class="col-md-6">
                                <h5>@Model.Title</h5>
                            </div>
                            <div class="col-md-6 text-md-right">
                                <a href="" data-activity-id="@Model.Id" class="add-report"><i class="icon ion-md-cart"></i></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                    @Model.Description
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div id="map-canvas" class="col-md-12">
                                Map canvas
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h5>Further details</h5>
                                </div>
                                <div class="col-md-6">                                    
                                    <dl class="dl-vertical">
                                        <dt>
                                            @Html.DisplayNameFor(model => model.OrganisationName)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.OrganisationName)
                                        </dd>
                                        <dt>
                                            @Html.DisplayNameFor(model => model.LocationDescription)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.LocationDescription)
                                        </dd>
                                        <dt>
                                            @Html.DisplayNameFor(model => model.Contact)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.Contact)
                                        </dd>
                                    </dl>
                                </div>
                                <div class="col-md-6">
                                    <dl class="dl-vertical">
                                        <dt>
                                            @Html.DisplayNameFor(model => model.OrganisationWebsite)
                                        </dt>
                                        <dd>                                           
                                            <a target="_blank" href="@Html.DisplayFor(model => model.OrganisationWebsiteLink)">@Html.DisplayFor(model => model.OrganisationWebsite)</a>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        @section Styles {
            <link href="@Url.Content("~/public/assets/css/details.css")" rel="stylesheet" type="text/css" />
        }
    @section Scripts{
        @{
            var key = ViewBag.GoogleApiKey;
        }

        <script async defer src="https://maps.googleapis.com/maps/api/js?key=@key&callback=initializeMap"
                type="text/javascript"></script>
        <script language="javascript">

            var _map;
            var _location;
            var _geocoder;

            function initializeMap() {

                _geocoder = new google.maps.Geocoder();

                // default location to start on
                var latlng = new google.maps.LatLng(51.059802, -1.310570);
                var mapOptions = {
                    zoom: 14,
                    center: latlng,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                }
                _map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

                // once set up, zoom to marker
                setMapAddress('@Model.LocationPostcode');
            }

            function setMapAddress(address) {

                if (address !== '') {
                    _geocoder.geocode({ 'address': address },
                        function(results, status) {
                            if (status == google.maps.GeocoderStatus.OK) {
                                _map.setCenter(results[0].geometry.location);
                                var marker = new google.maps.Marker({
                                    map: _map,
                                    position: results[0].geometry.location
                                });
                            } else {
                                alert('Geocode was not successful for the following reason: ' + status);
                            }
                        });
                }
            }
        </script>
        <script language="javascript">
            $(document).ready(function () {

                function checkIfSelectedForPrint(activitiesToPrint) {
                    var show = true;

                    if (activitiesToPrint && activitiesToPrint.indexOf($('a.add-report').attr('data-activity-id')) !== -1) show = false;
                    if (show) {
                        $('a.add-report').show();
                    } else {
                        $('a.add-report').hide();
                    }
                };

                if (window.messageBus) {
                    window.messageBus.activitiesToPrintChanged.add(checkIfSelectedForPrint);
                }
                $('a.add-report').click(function(evt) {
                    evt.preventDefault();
                    if (window.messageBus) {
                        var activityId = $(this).attr('data-activity-id');
                        window.messageBus.reportAdded.dispatch(activityId);
                    }
                });
                if (window.state) {
                    checkIfSelectedForPrint(window.state.activitiesToPrint);
                }
            });
        </script>

    }
