﻿@using Wellbeing.Data.Service.Models
@model Pagination<WellbeingActivity>

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

    var cbList = ViewBag.cbList;

}

@using (Html.BeginForm("Index", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, true, new { @class = "form-horizontal", role = "form" }))
{
    <div class="banner">
    </div>

    <div class="home-section-3">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-12">

                    <div class="centerDiv">
                        @Html.AntiForgeryToken()

                        <div class="row form-group">
                            <div class="col-md-12">
                                <h5>Search</h5>
                                @Html.TextBoxFor(m => m.Search, new { @class = "form-control", placeholder = "Enter search keyword" })
                            </div>
                        </div>
                        <div class="row form-group mt-4">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-light btn-lg btn-block">Search</button>
                            </div>
                        </div>
                    </div>

                    <div class="category-filter">
                        <h5>Filter by Category </h5>
                        @foreach (var activtityType in ViewBag.ActivityTypeList)
                        {
                            var activityIdParts = activtityType.Id.Split("_");
                            var check = !string.IsNullOrEmpty(activtityType.Id) && cbList.IndexOf(activtityType.Id.Replace("cb_", ""))>=0 ? "checked" : "";

                            <div class="tree-@activityIdParts.Length checkbox">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" class="filter-check" name="@activtityType.Id" id="@activtityType.Id" @check />

                                        <i class="helper"></i> @activtityType.Display
                                    </label>
                                    @*<input type="checkbox" id="@activtityType.Id" /> @activtityType.Display*@
                                </div>
                            </div>
                        }

                    </div>

                </div>

                <div class="col-md-7">
                    <h3>Event List</h3>
                    @(await Component.InvokeAsync<PagerViewComponent>(Model))
                    @foreach (var item in Model.ResultSet)
                    {
                        <div class="well-card card text-white bg-well-being ">
                            <div class="card-body">
                                <h5 class="card-title">@item.Title</h5>
                                <p class="">
                                    Date : @item.DateTimeDescription
                                </p>
                                <p class="">Location : @item.LocationDescription </p>
                                <div>
                                    <span>@item.Description</span>
                                </div>
                                <a asp-action="Detail" asp-controller="Home" asp-route-id="@item.Id" class="btn btn-primary mt-3 mb-3">Read more</a>
                            </div>
                        </div>
                    }


                    <!--
                    <div class="map-hd-banner">
                        Activities
                    </div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d317715.71195111!2d-0.3817882115193267!3d51.52873519401594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondon%2C+UK!5e0!3m2!1sen!2sin!4v1539240202370" width="100%" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
                       -->

                </div>
            </div>
        </div>
    </div>

}

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('.filter-check').click(function () {
                var currentCheck = this.id;
                if ($('#' + currentCheck).is(':checked')) {
                    $('input:checkbox[id^="' + currentCheck + '"]').each(function () {
                       $('#' + this.id).prop('checked', true);
                    });
                } else {
                    $('input:checkbox[id^="' + currentCheck + '"]').each(function () {
                        $('#' + this.id).prop('checked', false);
                    });
                }
            });
        });
    </script>
}




