﻿@using Wellbeing.Data.Service.Models
@model Pagination<WellbeingActivity>

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

    var cbList = string.Join(",", ViewBag.cbList);
    List<string> selectedActivityIds = ViewBag.cbList;
    var orgList = string.Join(",", ViewBag.orgList);
    bool initialLoad = ViewBag.initialLoad;
}

@using (Html.BeginForm("Search", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, true, new { @class = "form-horizontal", role = "form" }))
{
    <div class="banner">

    </div>

    <div class="home-section-3">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-12 search-panel">

                    <div class="centerDiv">
                        @Html.AntiForgeryToken()

                        <div class="row form-group">
                            <div class="col-md-12">
                                <h5>Search</h5>
                                @Html.TextBoxFor(m => m.Search, new { @class = "form-control", placeholder = "Enter search keyword" })
                            </div>
                        </div>
                        <div class="row form-group mt-4">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-light btn-lg btn-block">Search</button>
                            </div>
                        </div>
                    </div>

                    <div class="category-filter" id="catFilterPanel">
                        <a class="close float-right" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </a>
                        <div class="">
                            <a class="filter-dropdown" data-toggle="collapse" href="#categoryFilter"><h5 class="card-title">Filter by Category </h5></a>
                        </div>
                        <div class="collapse multi-collapse" id="categoryFilter">
                            <div class="card-body">
                                @foreach (var activityType in ViewBag.ActivityTypeList)
                                {
                                    var activityIdParts = activityType.Id.Split("_");
                                    var activityId = activityIdParts[activityIdParts.Length - 1];
                                    var check = !string.IsNullOrEmpty(activityId) && cbList.IndexOf(activityId.Replace("cb_", "")) >= 0 ? "checked" : "";

                                    <div class="tree-@activityIdParts.Length checkbox">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" class="filter-check" name="@activityType.Id" id="@activityType.Id" @check/>
                                                <i class="helper"></i> @activityType.Display
                                            </label>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="category-filter" id="orgFilterPanel">
                        <a class="close float-right" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </a>
                        <div class="">
                            <a  class="filter-dropdown" data-toggle="collapse" href="#organizationFilter"><h5>Filter by Organisation </h5></a>
                        </div>
                        <div class="collapse  multi-collapse" id="organizationFilter">
                            <div class="card-body">
                                <div class="tree-1 checkbox">
                                    <div class="checkbox">
                                        <label>
                                            @{
                                                <input type="checkbox" class="all-orgs" name="org_AllId" id="org_AllId"/>
                                                <i class="helper"></i> <text>All Organisations</text>

                                            }
                                        </label>
                                    </div>
                                </div>


                                @foreach (var org in ViewBag.OrganisationList)
                                {
                                    string check = "";
                                    if (!string.IsNullOrWhiteSpace(orgList))
                                    {
                                        check = orgList.Contains(org.Id.Replace("org_", "")) ? "checked" : "";
                                    }

                                    <div class="tree-3 checkbox">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" class="filter-check" name="@org.Id" id="@org.Id" @check/>
                                                <i class="helper"></i> @org.Display
                                            </label>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-8">
                    <h3>Event List</h3>
                    @if (initialLoad)
                    {
                        <text><div>To find activities you may search by any or all of the following: </div><br />
                            <ol>
                                <li>entering a search term</li>
                                <li>selecting event category(s)</li>
                                <li>selecting organisation(s) that providing events </li>
                            </ol>
                            <div>Then clicking the Search button</div>
                        </text>
                    }
                    else
                    {
                        @(await Component.InvokeAsync<PagerViewComponent>(Model))
                    }

                    @foreach (var item in Model.ResultSet)
                    {
                        <div class="well-card card text-white bg-well-being ">
                            <div class="card-body">
                                <h5 class="card-title">@item.Title</h5>
                                <p class="">
                                    Date : @item.DateTimeDescription
                                </p>
                                <p class="">Location : @item.LocationDescription </p>
                                <div>
                                    <span>@item.Description</span>
                                </div>
                                <a asp-action="Detail" asp-controller="Home" asp-route-id="@item.Id" class="btn btn-primary mt-3 mb-3">Read more</a>
                            </div>
                        </div>
                    }

                    <!--
    <div class="map-hd-banner">
        Activities
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d317715.71195111!2d-0.3817882115193267!3d51.52873519401594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondon%2C+UK!5e0!3m2!1sen!2sin!4v1539240202370" width="100%" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
       -->
                </div>
            </div>
        </div>
    </div>

}


@section Scripts
{
    <script>
        $(document).ready(function() {
            function checkOrganizationTree(elem$) {
                var parent = $('#organizationFilter');
                if (!elem$) {
                    elem$ = $('input:checkbox[id^="org_"]', parent).not('.all-orgs').first();
                }
                var id = elem$.id;
                var currentChecked = elem$.prop("checked");
                var all = true;
                $('input:checkbox[id^="org_"]', parent).not('.all-orgs').not('#' + id).each(function() {
                    return all = ($(this).prop("checked") === currentChecked);
                });
                if (all) {
                    $('#org_AllId').prop({
                        checked: currentChecked,
                        indeterminate: false
                    });
                } else {
                    $('#org_AllId').prop({
                        indeterminate: true
                    });
                }
            }

            function updateOrganisationPanel() {
                var parent = $('#organizationFilter');
                var panel = $('#orgFilterPanel');
                var l = $('input:checkbox[id^="org_"]:checked', parent).length;
                if (l) {
                    $('.filter-dropdown h5', panel).css("font-weight", "bold");
                    $('a.close', panel).show();
                } else {
                    $('.filter-dropdown h5', panel).css("font-weight", "normal");
                    $('a.close', panel).hide();
                }
            }

            function updateCategoryPanel() {
                var panel = $('#catFilterPanel');
                var l = $('input:checkbox.filter-check:checked', panel).length;
                if (l) {
                    $('.filter-dropdown h5', panel).css("font-weight", "bold");
                    $('a.close', panel).show();
                } else {
                    $('.filter-dropdown h5', panel).css("font-weight", "normal");
                    $('a.close', panel).hide();
                }
            }

            updateCategoryPanel();

            checkOrganizationTree();
            updateOrganisationPanel();

            $('.filter-check').click(function() {
                var currentCheck = this.id;
                if ($('#' + currentCheck).is(':checked')) {
                    $('input:checkbox[id^="' + currentCheck + '"]').each(function() {
                        $('#' + this.id).prop('checked', true);
                    });
                } else {
                    $('input:checkbox[id^="' + currentCheck + '"]').each(function() {
                        $('#' + this.id).prop('checked', false);
                    });
                }
                updateCategoryPanel();
            });

            //checkbox under organisation panel ('All Organisations') was clicked
            $('#org_AllId').click(function() {
                var currentCheck = this.id;
                if ($('#' + currentCheck).is(':checked')) {
                    $('input:checkbox[id^="org_"]').each(function() {
                        $('#' + this.id).prop('checked', true);
                    });
                } else {
                    $('input:checkbox[id^="org_"]').each(function() {
                        $('#' + this.id).prop('checked', false);
                    });
                }
                updateOrganisationPanel();
            });

            //checkbox under organisation panel (not 'All Organisations') was clicked
            $('input:checkbox[id^="org_"]').not('.all-orgs').click(function () {
                checkOrganizationTree($(this));
                updateOrganisationPanel();
            });

            //clear organisation filter was clicked
            $('#orgFilterPanel a.close').click(function() {
                $('input:checkbox[id^="org_"]').each(function() {
                    $('#' + this.id).prop('checked', false);
                });
                checkOrganizationTree();
                updateOrganisationPanel();
            });

            //clear category filter was clicked
            $('#catFilterPanel a.close').click(function() {
                $('input:checkbox.filter-check').each(function() {
                    $('#' + this.id).prop('checked', false);
                });
                updateCategoryPanel();
            });


            $('#organizationFilter').on('hidden.bs.collapse',
                function(e) {
                    //console.log('Hidden Panel Event fired on #' + e.currentTarget.id);
                });

            $('#organizationFilter').on('shown.bs.collapse',
                function(e) {
                    //console.log('Shown Panel Event fired on #' + e.currentTarget.id);
            });
        });
    </script>
}












