﻿@model Wellbeing.Data.Repository.Models.Organisation

@{
    ViewData["Title"] = "Delete";
    var canDelete = ViewBag.CanDelete ?? true;
    var message = ViewBag.Message ?? "Are you sure you want to delete this?";
    var btnDeleteText = ViewBag.DeleteButtonText ?? "Delete";
    var needConfirmation = ViewBag.NeedConfirmation ?? false;
}

@if (!needConfirmation)
{
    <h2>Delete Organisation</h2>
    <h3 class="@(@canDelete ? "" : "text-danger")">@message</h3>
}
<div class="row">
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Phone)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Website)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Website)
            </dd>
        </dl>
    </div>
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Contact)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Contact)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Funding)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Funding)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Noteworthy)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Noteworthy)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Generic)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Generic)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Religious)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Religious)
            </dd>
        </dl>
    </div>
</div>
<div>

    @if (!needConfirmation)
    {
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id"/>
            @if (canDelete)
            {
                <input type="submit" value="@btnDeleteText" class="btn btn-default"/>
            }
            @* <input type="submit" value="Delete" class="btn btn-default" /> | *@
            <a asp-action="Index">Back to List</a>
        </form>
    }
</div>

<div class="modal" tabindex="-1" role="dialog" id="confirmDelete">
    <div class="modal-dialog modal-dialog-centered" >
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Organisation</h5>
            </div>
            <div class="modal-body">
                @* <h4 class="modal-title" id="myModalLabel">@ViewBag.Message</h4> *@
                @ViewBag.Message
            </div>
            <div class="modal-footer" style="padding:5px">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="@btnDeleteText" class="btn btn-default" /> 
                    <a asp-action="Index">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        var needConfirmation = ('@(ViewBag.NeedConfirmation)' === 'True' ? true : false) ;

        $(document).ready(function() {

            if (needConfirmation) {
                $('#confirmDelete').modal({
                    backdrop: 'static',
                    keyboard: false
                });
            } else {
                $('#confirmDelete').hide();
            }
        });
    </script>
}
