﻿@model Wellbeing.Data.Repository.Models.Organisation

@{
    ViewData["Title"] = "Details - Organisation";
}

<h2>Details - Organisation</h2>

<div class="row">
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Phone)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Website)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Website)
            </dd>
         
        </dl>

    </div>
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Contact)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Contact)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Funding)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Funding)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Noteworthy)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Noteworthy)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Generic)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Generic)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Religious)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Religious)
            </dd>
        </dl>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
