﻿@model IEnumerable<Wellbeing.Data.Repository.Models.Organisation>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-11">
        <h2>Organisations</h2>
    </div>
    <div class="col-md-1">
        <a asp-action="Create" class="btn btn-secondary btn-sm">Create New</a>
    </div>
</div>

<div class="table-responsive-sm">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-controller="Activities" asp-action="Index" asp-route-eventProviderOrganisationFilter="@item.Id">
                            @Html.DisplayFor(modelItem => item.Name)
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>                  
                        <div class="btn-group dropleft">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownMenu2">
                                Options
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <!-- Dropdown menu links -->
                                @if (item.Id == ViewBag.UserCompany || User.IsInRole("SuperAdmin"))
                                {
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="dropdown-item">Edit</a>
                                }

                                <a asp-action="Details" asp-route-id="@item.Id" class="dropdown-item">Details</a>

                                @if (item.Id == ViewBag.UserCompany || User.IsInRole("SuperAdmin"))
                                {
                                <a asp-action="Delete" asp-route-id="@item.Id" class="dropdown-item">Delete</a>
                                }
                                    
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
