﻿@model IEnumerable<Wellbeing.Data.Repository.Models.Role>

@{
    ViewData["Title"] = "Roles";
}

<h2>Roles</h2>
@*<p><a asp-action="Create" class="btn btn-secondary btn-sm">Create New</a></p>*@
<div class="table-responsive-sm">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                    @*<div class="btn-group dropleft">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownMenu2">
                            Options
                        </button>                     
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="dropdown-item">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="dropdown-item">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="dropdown-item">Delete</a>
                        </div>                        
                    </div>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>