﻿@model Wellbeing.Data.Repository.Models.ActivityType

@{
    ViewData["Title"] = "Edit";

    var selectList = new SelectList(ViewBag.ActivityTypes, "Id", "Description");
}

<h2>Edit - Activity Type</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ParentId" class="control-label"></label>
                @Html.DropDownListFor(x => Model.ParentId, selectList, htmlAttributes: new { @class = "form-control", id = "ParentId" })
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
