﻿@model IEnumerable<Wellbeing.Data.Repository.Models.ActivityType>

@{
    ViewData["Title"] = "Activity Types";
}

<h2>Activity Types</h2>

<p>
    <a asp-action="Create" class="btn btn-secondary btn-sm">Create New</a>
</p>

<div class="container my-2">
    <div class="row">
        <div class="col-md-12">
            <div class="tree">
                @foreach (var item in ViewBag.ActivityTypeList)
                {
                        var activityIdParts = item.Id.Split("_");
                        var itemPos = activityIdParts.Length - 1;
                        var id = activityIdParts[itemPos];
                            <div><span class="item-@itemPos"></span>
                                 <span class="link-container">
                                     @item.Display [ <a asp-action="Edit" asp-route-id="@id">Edit</a> |
                                                     <a asp-action="Details" asp-route-id="@id">Details</a> |
                                                     <a asp-action="Delete" asp-route-id="@id">Delete</a> ]

                                 </span>
                            </div>
                }
            </div>  
        </div>
    </div>
</div>
    