﻿@using Wellbeing.Data.Client.Models
@model LoginViewModel
@{
    ViewBag.Title = "Access Denied";
}
<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        <section id="accessDenied
         <p>Access Denied! - Please login back.</p>
        </section>
    </div>
    
</div>
