﻿@model FeedbackViewModel

@{
    ViewData["Title"] = "Feedback Details";
}
<div class="feedback-details">
    <h2>Feedback</h2>
    <div class="row">
        <div class="col-md-6" >
            <dl class="dl-horizontal">
                <dt>
                    User's name
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Contact)
                </dd>
                <dt>
                    User's email
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt>
                    Date added
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.DateCreated)
                </dd>        
                <dt>
                    User's feedback
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Comment)
                </dd>
            </dl>
        </div>
    </div>
    <div class="mb-2">
        <a asp-action="Index" asp-controller="Feedbacks">Back to List</a>
    </div>
</div>