﻿@using System.Data.Common
@model List<FeedbackViewModel>

@{
    ViewData["Title"] = "Contact Us";
}


<h2 class="details-header">Feedback</h2>

<div class="table-responsive-sm activityList">

    <table class="table table-bordered">
        <thead>
            <tr class="activity-header">
                <th style="width: 20%">
                    User's name
                </th>
                <th style="width: 20%">
                    User's Email
                </th>
                <th style="width: 50%">
                    User's Comments
                </th>
                <th style="width: 10%">
                    Date added
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>        
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Contact)
                </td>               
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    <div class="btn-group dropleft">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownMenu2">
                            Options
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <!-- Dropdown menu links -->
                            <a asp-action="Details" asp-route-id="@item.Id" class="dropdown-item">Details</a>
                        </div>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

