﻿@model Wellbeing.Data.Client.Models.ActivityViewModel

@{
    ViewData["Title"] = "Create - Activity/Service";
    //var selectList = new SelectList(ViewBag.ActivityTypes, "Id", "Description");
}

<h2>Create - Activity/Service</h2>
<hr />
<form asp-action="Create" class="form-horizontal">
    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact" class="control-label"></label>
                <input asp-for="Contact" class="form-control" />
                <span asp-validation-for="Contact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrganisationId" class="control-label"></label>
                <select asp-for="OrganisationId" class="form-control" asp-items="ViewBag.Organisation"></select>                
            </div>
            <div class="form-group">
                <h3>Activity Types </h3>
                <label>Add new Activity Type</label>
                @*@Html.DropDownList("ActivityTypes", selectList, "Select activity type", new { @class = "form-control" })*@

                <div>
                    @foreach (var activtityType in Model.ActivityTypeList)
        {
            var activityIdParts = activtityType.Id.Split("_");

            <div class="tree-@activityIdParts.Count()">
                @if (activtityType.IsChecked)
                {
                  @Html.CheckBox(activtityType.Id, new { @checked = "checked" })
                }
                else
                {
                            @Html.CheckBox(activtityType.Id)
                }
                @activtityType.Display
                @*<input type="checkbox" id="@activtityType.Id" /> @activtityType.Display*@
            </div>
}
                </div>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="DateTimeDescription" class="control-label"></label>
                <input asp-for="DateTimeDescription" class="form-control" />
                <span asp-validation-for="DateTimeDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationDescription" class="control-label"></label>
                <textarea asp-for="LocationDescription" class="form-control" rows="4"></textarea>
                <span asp-validation-for="LocationDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationPostcode" class="control-label"></label>
                <input asp-for="LocationPostcode" class="form-control" />
                <span asp-validation-for="LocationPostcode" class="text-danger"></span>
            </div>
        </div>
    </div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
