﻿@model Wellbeing.Data.Repository.Models.Activity

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete Activity</h2>

<h3>Are you sure you want to delete this?</h3>
<div class="row">
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Contact)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Contact)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DateTimeDescription)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DateTimeDescription)
            </dd>
        </dl>
    </div>
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.LocationDescription)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LocationDescription)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.LocationPostcode)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LocationPostcode)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DateCreated)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DateCreated)
            </dd>
        </dl>
    </div>
</div>
<div>    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
