﻿@model Wellbeing.Data.Client.Models.ActivityViewModel

@{
    ViewData["Title"] = "Details";
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" asp-action="Details" asp-controller="Activities" asp-route-id="@Model.Id">General</a>
    </li>

    <li class="nav-item">
        <a class="nav-link " asp-action="HistoryDetails" asp-controller="Activities" asp-route-id="@Model.Id">History</a>
    </li>
</ul>

<h2>Details of/Service</h2>
<div class="row">
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Contact)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Contact)
            </dd>
        
            <dt>
                <label Types</label>
            </dt>
            <dd>
            @*@Html.DropDownList(Types", selectList, "Select type", new { @class = "form-control" })*@
            
                @foreach (var activtityType in Model.ActivityTypeList)
                {
                    var IdParts = activtityType.Id.Split("_");

                    <div class="tree-IdParts.Count()">
                        @if (activtityType.IsChecked)
                        {
                            @Html.CheckBox(activtityType.Id, new { @checked = "checked", @disabled="disabled"})
                            @activtityType.Display
                        }
                        else
                        {
                            //    @Html.CheckBox(activtityType.Id)
                        }
                        
                        @*<input type="checkbox" id="@activtityType.Id" /> @activtityType.Display*@
                    </div>
                }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateTimeDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateTimeDescription)
        </dd>
        </dl>
       
    </div>
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt><label asp-for="OrganisationId" class="control-label"></label></dt>
            <dd>
                <select asp-for="OrganisationId" disabled class="form-control" asp-items="ViewBag.Organisation"></select>
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.LocationDescription)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LocationDescription)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.LocationPostcode)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LocationPostcode)
            </dd>
           
        </dl>


        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.DateCreated)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DateCreated)
            </dd>        

        </dl>
    </div>
</div>
<div class="mb-2">
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index" asp-controller="Activities">Back to List</a>
</div>
