﻿@model Wellbeing.Data.Client.Models.ActivityViewModel

@{
    ViewData["Title"] = "Edit - Activity/Service";
}
<style type="text/css">.details-header { margin-top: 15px; }</style>


<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" asp-action="Edit" asp-controller="Activities" asp-route-id="@Model.Id">General</a>
    </li>

    <li class="nav-item">
        <a class="nav-link " asp-action="HistoryEdit" asp-controller="Activities" asp-route-id="@Model.Id">History</a>
    </li>
</ul>

<form asp-action="Edit">
    
    <div class="row details-header">
        <div class="col-md-10">
            <h2 >Edit - Activity/Service</h2>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input type="button" value="Close" onclick="location.href='@Url.Action("Index", "Activities")';return false;" class="btn btn-default" />
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact" class="control-label"></label>
                <input asp-for="Contact" class="form-control"/>
                <span asp-validation-for="Contact" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="OrganisationId" class="control-label"></label>
                <select asp-for="OrganisationId" class="form-control" asp-items="ViewBag.Organisation"></select>
            </div>

            <div class="form-group">
                <h3>Activity Types </h3>
                <label>Add new Activity Type</label>
                @*@Html.DropDownList("ActivityTypes", selectList, "Select activity type", new { @class = "form-control" })*@

                <div>
                    @foreach (var activtityType in Model.ActivityTypeList)
                    {
                        var activityIdParts = activtityType.Id.Split("_");

                        <div class="tree-@activityIdParts.Count()">
                            @if (activtityType.IsChecked)
                            {
                                @Html.CheckBox(activtityType.Id, new {@checked = "checked"})
                            }
                            else
                            {
                                @Html.CheckBox(activtityType.Id)
                            }
                            @activtityType.Display
                            @*<input type="checkbox" id="@activtityType.Id" /> @activtityType.Display*@
                        </div>
                    }
                </div>
            </div>

        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="DateTimeDescription" class="control-label"></label>
                <input asp-for="DateTimeDescription" class="form-control"/>
                <span asp-validation-for="DateTimeDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationDescription" class="control-label"></label>
                <textarea asp-for="LocationDescription" class="form-control" rows="4"></textarea>
                <span asp-validation-for="LocationDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationPostcode" class="control-label"></label>
                <input asp-for="LocationPostcode" class="form-control"/>
                <span asp-validation-for="LocationPostcode" class="text-danger"></span>
            </div>
            @if (User.IsInRole("SuperAdmin"))
            {
                <div class="form-group">
                    <label asp-for="StatusId" class="control-label"></label>
                    <select asp-for="StatusId" class="form-control" asp-items="ViewBag.Statuses"></select>
                </div>                
            }
        </div>
    </div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
