﻿@using System.Data.Common
@model List<ActivityHistoryViewModel>

@{
    ViewData["Title"] = "Activities/Services";
    var activityId = ViewBag.ActivityId;
    var sourceActionEdit = ViewBag.SourceActionEdit;
}

<ul class="nav nav-tabs">
    @if (sourceActionEdit)
    {
        <li class="nav-item">
            <a class="nav-link" asp-action="Edit" asp-controller="Activities" asp-route-id="@activityId">General</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" asp-action="HistoryEdit" asp-controller="Activities" asp-route-id="@activityId">History</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-action="Details" asp-controller="Activities" asp-route-id="@activityId">General</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" asp-action="HistoryDetails" asp-controller="Activities" asp-route-id="@activityId">History</a>
        </li>
    }

</ul>


<h2 class="details-header">Activities/History</h2>

<div class="table-responsive-sm activityList">

    <table class="table table-bordered">
        <thead>
            <tr class="activity-header">
                <th style="width: 15%">
                    Description
                </th>
                <th style="width: 15%">
                    Notified
                </th>
                <th style="width: 40%">
                    Recipients
                </th>
                <th style="width: 15%">
                    User
                </th>
                <th style="width: 15%">
                    Date record created
                </th>
            </tr>
        </thead>
        <tbody>        
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NotificationSent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Recipients)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedByUser)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
