﻿@using System.Data.Common
@model PaginationActivitiesDataEntry<ActivityViewModel>

@{
    ViewData["Title"] = "Activities/Services";
}

<h2>Activities/Services</h2>


@using (Html.BeginForm("Index", "Activities", FormMethod.Post))
{
    <div class="activitySearchForm">
           
        <div class="row">
            <div class="col-md-2">
                <label>Search</label>
            </div>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Search, new { @class="search-box", placeholder = "Enter search keyword" })
            </div>
            <div class="col-md-1">

            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label> Event provider Organisation</label>
            </div>
            <div class="col-md-9">
                @Html.DropDownListFor(f => f.EventProviderOrganisationFilter, Model.EventProviderOrganisationList, "<Select>")                
            </div>
            <div class="col-md-1">

            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <label> Data provider Organisation</label>
            </div>
            <div class="col-md-10">
                @Html.DropDownListFor(f => f.DataProviderOrganisationFilter, Model.DataProviderOrganisationList, "<Select>")
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <label> Status</label>
            </div>
            <div class="col-md-10">
                @Html.DropDownListFor(f => f.StatusFilter, Model.StatusList, "<Select>")
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <label> Activity Type</label>
            </div>
            <div class="col-md-4">
                @Html.DropDownListFor(f => f.ActivityTypeFilter, Model.ActivityTypeList, "<Select>")
            </div>
            <div class="col-md-5">
                <input type="submit" value="Search" />
            </div>
            <div class="col-md-1">
                <a asp-action="Create" class="btn btn-secondary btn-sm">Create New</a>
            </div>
        </div>
 </div>
}
    @if(Model.HaveSearched)
    { 
        <div class="activityResultsFound">
           
        </div>
    }
    
<div class="table-responsive-sm activityList">

    <table class="table table-bordered">
        <thead>
            <tr class="activity-header">
                <th style="width: 15%">
                    Primary Activity Type
                </th>
                <th style="width: 15%">
                    Activity Type
                </th>
                <th style="width: 20%">
                    Title
                </th>
                <th style="width: 15%">
                    Provider Organisation
                </th>
                <th style="width: 15%">
                    Contact person
                </th>
                <th style="width: 15%">
                    Date record created
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>        
        @(await Component.InvokeAsync<PagerDataEntryViewComponent>(Model))
        @foreach (var item in Model.ResultSet)
        {
            <tr class="@(item.StatusId == 0 ? "status-draft" : "status-approved")">
                <td>
                    @Html.DisplayFor(modelItem => item.PrimaryClassification.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActivityType.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrganisationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contact)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>

                    <div class="btn-group dropleft">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownMenu2">
                            Options
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <!-- Dropdown menu links -->
                            @if (@item.UserCanEdit)
                            {
                                <a asp-action="Edit" asp-route-id="@item.Id" class="dropdown-item">Edit</a>
                            }

                            <a asp-action="Details" asp-route-id="@item.Id" class="dropdown-item">Details</a>
                            @if (@item.UserCanEdit)
                            {
                            <a asp-action="Delete" asp-route-id="@item.Id" class="dropdown-item">Delete</a>
                            }
                                
                        </div>
                    </div>

                </td>
            </tr>
        }
        </tbody>
    </table>
    @if (Model.RowCount > 0)
    {
        <div class="pager-bottom">
            @(await Component.InvokeAsync<PagerDataEntryViewComponent>(Model))
        </div>
    }
</div>